body {
    padding: 0;
    margin: 0;
    background:#FFFFFF;
    position: relative;
    width: 600px;
    height: 100px;
    left: 25%;
    
}
.container_text{
    height: 130px;
    width: 600px;
    left: 17px;
    top: 186px;
    border-radius: nullpx;
    margin-left: 17px;
    margin-right: 19px;
    

}
.area_text {
    margin-left: 10px;
}

.header_text {
    height: 30px;
    height: 140px;
}
header h3{
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

    color:#455469;
}
header p{
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

    color:#455469;
    
}
.body_text .p{
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}
#divpai{
    height: auto;
    width: 600px;
    max-width: auto;
    max-height: auto;
    position: relative;
    margin-top:-10px;
    margin-left: -23px;
    padding-left: 7px;
    padding-right: 7px;
    
}
.container_number_doc{
    position: relative;
    width: 586px;
    height: 130px;
    left: 7px;
    margin-bottom: 10px;
    background-color: #00A9EC;
    background: rgba(194, 196, 207, 0.35);
    border-radius: 15px;
    max-height: 100%;
    padding-bottom: 8px;
    padding-top: 8px;
}
.numer_doc{
    margin-top: 1px;
    border-radius: nullpx;
    position: relative;
    width: 110px;
    height: 22px;
    left: 242px;
}
.numer_doc p {
    margin-top: 1px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 22px;
    /* identical to box height, or 220% */

    text-align: center;

    color: #979FAB;
}
.number{
    position: relative;
    width: 177px;
    height: 22px;
    left: 209px;
    margin-top: 1px;
    
}
.number h1{
    margin-top: 1px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    /* identical to box height, or 110% */

    text-align: center;

    /* azul */

    color: #00A9EC;
}
  .tdiv{
    width: 586px;
    height: 80px;
    position: absolute;
    margin-top: 10px;
} 
#thdt{
    position: absolute;
    width: 134.33px;
    height: 12px;
    left: 25.21px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 10.6827px;
    line-height: 12px;
    text-align: center;

    color: #455469;

}
#thdv{
    position: absolute;
    width: 134.33px;
    height: 12px;
    left: 163.74px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 10.6827px;
    line-height: 12px;
    text-align: center;

    color: #455469;
}
#thvf{
    position: absolute;
    width: 130.28px;
    height: 12px;
    left: 303.44px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 10.6827px;
    line-height: 12px;
    text-align: center;

}
#thvc{
    position: absolute;
    width: 125.02px;
    height: 12px;
    left: 445.39px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 10.6827px;
    line-height: 12px;
    text-align: center;

color: #455469;
}
#thdt0{
    position: absolute;
    width: 134.38px;
    height: 38.28px;
    left: 25px;
    margin-top:12px;
    background: rgba(69, 84, 105, 0.2);
    border-radius: 4.45111px;

}
#thdt0 p{
    position: absolute;
    width: 134.48px;
    height: 21px;
    margin-top: 10px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    color: #455469;
        
}
#thdv1{
    position: absolute;
    width: 134.38px;
    height: 38.28px;
    left: 163.54px;
    margin-top:12px;

    background: rgba(69, 84, 105, 0.2);
    border-radius: 4.45111px;
}

#thdv1 p {
    position: absolute;
    width: 134.48px;
    height: 21px;   
    margin-top: 11px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;
    color: #455469;
}
#thvf2{
    position: absolute;
    width: 135.11px;
    height: 38.28px;
    left: 302.07px;
    margin-top:12px;

    background: rgba(69, 84, 105, 0.2);
    border-radius: 4.45111px;
}

#thvf2 p {
    position: absolute;
    width: 133.43px;
    height: 21px;
    margin-top: 11px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    color: #455469;
}
#thvc3{
    position: absolute;
    width: 134.38px;
    height: 38.28px;
    left: 441.29px;
    margin-top: 12px;

    background: rgba(69, 84, 105, 0.5);
    border-radius: 4.45111px;

}
#thvc3 p {
    position: absolute;
    width: 134.48px;
    height: 21px;
    margin-top: 11px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}


.footer_container{
    position: relative;
    width: 558px;
    height: 51px;
    left: 23px;
    top: 30px;
    margin-left: -23px;
}
.container_p p{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* or 125% */

    text-align: center;
    letter-spacing: 0.01em;

    color: #455469;
}
.container_warning{
    position: relative;
    width: 600px;
    height: 196px;
    left: 0px;
    top: 67px;
    margin-left: -23px;
    background: #FFCC47;
}

.header_warning{
    position: absolute;
    width: 86px;
    height: 17px;
    left: 257px;
    margin-top: 50px;
  
}
.header_warning h1{
    margin-top: 5px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    /* identical to box height, or 85% */


    color: #1F191A;

}
.body_conta{
    position: absolute;
    width: 545px;
    height: 119px;
    top: 85px;
    padding-left: 28px;
    padding-right: 27px;
}
.body_conta p {
    margin-top: 1px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    /* or 169% */

    text-align: center;

    color: #1F191A;
}
.container_footer{
    position: relative;
    top: 65px;
    right: 22px;
}

.body_footer{
    position: absolute;
    width: 289px;
    height: 129px;
    left: 28px;
    top: 1px;
}
.body_footer h4{
    margin-top: 10px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;

    color: #455469;
}
.contato_footer{
    position: absolute;
    width: 289px;
    height: 129px;
    left: 28px;
    top: 1px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    padding: 0px 0px 0px 0px;
    /* or 171% */

    color: #455469;
    
}
.contato_footer h5{
    width: 110px;
    height: 7px;
    margin-top: 35px;
    margin-left: 1px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; 

}
.contato_list{
    margin-top: 1px;
}
.contato_list ul{
    height: 0px;
    width: 250px;
    top: -2px;
    background-color: #FFCC47;
}

.contato_list ul li {
    margin-top: -1px;
    padding: 0px 0px 0px 0px;
}

ul{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.listTel{
    position: relative;
    width: 200px;
    height: 100px;
    left: 261px;
    top: 65px;
    margin-right: 40px;
    margin-left: 20px;
}
.listTel li {
    font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;


    color: #455469;
}
.whatsapp_footer{
    position: relative;
    width: 560px;
    height: 100px;
    right: 1px;
    top: 160px;
    background: #49970C;
    border-radius: 20px;
}
.text_footer{
    position: absolute;
    width: 303px;
    height: 67px;
    left: 26px;
    margin-top: 20px;
}
.text_footer p{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
    /* or 171% */


    color: #FFFFFF;
}
.tel_whatsapp{
    width: 190px;
    height: 50px;
    position: absolute;
    right: 6.8%;
    bottom: 14.04%;
    margin-left:70px;  
    background: #FFFFFF;
    border-radius: 160px;
    top: 27px;


}
.tel_whatsapp li{
    margin-left: 17px;
    margin-right: 4px;
    margin-top: 10px;
    margin-bottom: 6.4px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;  
    /* identical to box height, or 220% */
    height: 29px;
    width: 119px;


color: #49970C;
}
.tel_whatsapp img{
    margin-top: -20px;
    margin-left: 150px;
}
.tel_whatsapp ul{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.container_info_filial{
    position: relative;
    left:-22px;
    right: 39.05%;
    top: 0%;
    bottom: 0%;
    top: 190px;
    width: 600px;
    
}
.container_info_filial img{
    width: 600px;
    height: 138px;
}
.container_info_text{
    position: absolute;
    width: 500px;
    height: 300px;
    top: 10px;
    margin-left: 22px;
}

.container_info_text h1{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */

    letter-spacing: 0.02em;

    color: #FFFFFF;
  
}
.info_text{
    position: absolute;
    width: 436px;
    height: 128px;
    left: 1px;
    
}
.info_text ul li {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    /* or 154% */

    letter-spacing: 0.02em;

    color: #FFFFFF;
}
.imgwhat{
    position: absolute;
    left: 0%;
    right: 4.19%;
    top: -45%;
    bottom: -60%;
    
    
}
.imgwhat img{
    height: 70%;
    margin-left: 300px;
    margin-top: 14px;
}

.whatsapp_img{
    margin-left: 80%;
    margin-top: -50px;
    height: 60px;
    width: 40px;

}
.whatsapp_img img{
    margin-left: 130px;
    top: -50px;

}
.imgwha{
    margin-top: -35px;
    margin-left: 150px;
    height: 30px;
    width: 30px;
}
.imgwha img{
    margin-left: 3px;
    margin-top: 1px;

}
.img_header{
    position: absolute;
    left: 47%;
    right: 8.33%;
    top: 24px;
    bottom:24.92px;

}
.img_header img{
    height: 29.16669273376465px;
    width: 29.16669273376465px;
    left: 2.916656494140625px;
    top: 2.916656494140625px;
    border-radius: 0px;

}